<template>
  <div class="home">
    <HelloWorld msg="Progressor (compo API)" />
    <FormApp @createtask="addTask" />
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";
import FormApp from "@/components/FormApp.vue";
import tasksService from "@/services/tasks.js";

export default {
  name: "HomeView",
  components: {
    HelloWorld,
    FormApp,
  },
  setup() {
    function addTask(task) {
      console.log(task);
      tasksService.create(task);
    }

    return { addTask };
  },
};
</script>
