<template>
  <h3>Toutes les tâches</h3>
  <div v-if="tasks.length > 0">
    <div class="task" v-for="task in tasks" :key="task.id">
      <h3>{{ task.name }}</h3>
      <p>{{ task.description }}</p>
      <p>Echéance {{ task.temporality }}</p>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
import taskService from "@/services/tasks.js";

export default {
  name: "TasksView",
  setup() {
    const tasks = ref([]);
    tasks.value = taskService.read();

    return { tasks };
  },
};
</script>

<style scoped>
.task {
  margin: 10px 15px;
  border: 3px solid #42b943;
  border-radius: 5px;
}
</style>
