<template>
  <h3>Créer une tâche</h3>
  <form @submit.prevent="createTask">
    <input type="text" placeholder="Nom de la tâche" v-model="name" /><br />
    <textarea
      cols="30"
      rows="10"
      placeholder="Description de la tâche"
      v-model="description"
    ></textarea
    ><br />
    <select v-model="temporality">
      <option
        v-for="tempo in temporalityTypes"
        v-bind:key="tempo.id"
        :value="tempo.value"
      >
        {{ tempo.name }}
      </option></select
    ><br />
    <button>Créer</button>
  </form>
</template>

<script>
import { ref } from "vue";

export default {
  name: "FormApp",
  emits: ["createtask"],
  setup(props, context) {
    const name = ref("");
    const description = ref("");
    const temporalityTypes = ref([
      {
        id: 1,
        name: "court terme",
        value: "short term",
      },
      {
        id: 2,
        name: "moyen terme",
        value: "medium-term",
      },
      {
        id: 3,
        name: "long terme",
        value: "long-term",
      },
    ]);

    const temporality = ref("");

    function createTask() {
      const task = {
        id: Date.now(),
        name: name.value,
        description: description.value,
        temporality: temporality.value,
      };
      console.log(task);
      context.emit("createtask", task);
      resetForm();
    }

    function resetForm() {
      name.value = "";
      description.value = "";
      temporality.value = "";
    }

    return { name, description, temporalityTypes, temporality, createTask };
  },
};
</script>

<style scoped>
input,
textarea,
select,
bottom {
  width: 90%;
  margin: 5px, 10px;
}
</style>
